extends layout

block content
  h1= title
  p Welcome to #{title}
  a.button(href="/notices")
    i.fas.fa-bullhorn
    |  Notice Board
  br
  br
  a.button(href="/shopping-list")
    i.fas.fa-shopping-cart
    |  Shopping List
  br
  br
  a.button(href="/calendar")
    i.fas.fa-calendar-alt
    |  Calendar

