extends layout

block content
  h1= title
  hr
  h2 Add New User
  form(action="/users/add", method="POST")
    div
      label Name: 
      input(type="text", name="name", required)
    div
      label Email: 
      input(type="email", name="email", required)
    button(type="submit") Create User

  hr
  h2 User List
  ul
    each user in users
      li #{user.name} (#{user.email})